# ------------------------------------------------------------------------------
#   1. OS/Editor/System
# ------------------------------------------------------------------------------
.DS_Store
Thumbs.db
*.swp
.vs/
.idea/
*.user
*.suo
*.userprefs
*.sln.docstates

# ------------------------------------------------------------------------------
#   2. Environment/Secrets
# ------------------------------------------------------------------------------
.env
.env.*  # (.env.production, .env.local)

# ------------------------------------------------------------------------------
#   3. Logs
# ------------------------------------------------------------------------------
*.log
yarn-debug.log*
yarn-error.log*

# ------------------------------------------------------------------------------
#   4. .NET Build Output
# ------------------------------------------------------------------------------
[Bb]in/
[Oo]bj/
app/publish/
publish/

# ------------------------------------------------------------------------------
#   5. Python
# ------------------------------------------------------------------------------
__pycache__/
*.py[cod]

# ------------------------------------------------------------------------------
#   6. Docker/Container & Data
# ------------------------------------------------------------------------------
p6_db_data/
*.pid